In [ ]:
# Reference:
- https://github.com/chezou/tabula-py/blob/master/examples/tabula_example.ipynb
- https://blog.chezo.uno/tabula-py-extract-table-from-pdf-into-python-dataframe-6c7acfa5f302

In [1]:
import tabula
#the pd is the standard shorthand for pandas
import pandas as pd

In [4]:
# read pdf as list
from tabula import read_pdf
df = read_pdf("data/Telecommination_Sept_2019.pdf")

'pages' argument isn't specified.Will extract only from page 1 by default.
Got stderr: Apr 25, 2020 2:17:18 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Apr 25, 2020 2:17:18 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Apr 25, 2020 2:17:18 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 406 fonts
Apr 25, 2020 2:17:18 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:17:18 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:17:19 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

In [6]:
df

[   Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN        Total                   Moblink Zong Ufone Telenor
 2     January  133,606,004  37,617,798 24,366,879 25,033,285 33,748,975
 3    February  134,609,592  37,775,100 24,901,387 24,557,841 34,491,019
 4       March  136,469,886  38,154,534 25,594,413 24,570,563 35,210,948
 5       April  137,683,211  38,300,475 25,981,940 24,572,998 35,876,539
 6         May  139,198,479  38,444,357 26,736,308 24,645,598 36,311,451
 7        June  139,974,754  38,768,346 27,197,048 24,352,717 36,571,820
 8        July  140,022,516  38,914,005 27,411,737 24,176,583 36,523,951
 9      August  138,589,661  38,779,034 27,186,703 23,495,150 36,344,492
 10  September  137,605,819  38,700,176 26,952,302 23,001,127 36,325,193
 11    October  137,152,666  38,516,056 26,985,261 22,554,332 36,644,862
 12   November  137,341,523  38,449,212 27,255,099 22,488,766 36,686,660
 13   December  135,762,031  38,459,843 26,340,666 21,955,711 36,539,798

     Unnamed: 2
 0          NaN
 1        Warid
 2   12,839,067
 3   12,884,245
 4   12,939,428
 5   12,951,259
 6   13,060,765
 7   13,084,823
 8   12,996,240
 9   12,784,282
 10  12,627,021
 11  12,452,155
 12  12,461,786
 13  12,466,013  ]

In [10]:
# read pdf as JSON
json = read_pdf("data/Telecommination_Sept_2019.pdf", pages="all")
json

Got stderr: Apr 25, 2020 2:20:07 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:08 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Apr 25, 2020 2:20:09 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font TimesNewRomanPS-BoldMT are not implemented in PDFBox and will be ignored
Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

[   Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN        Total                   Moblink Zong Ufone Telenor
 2     January  133,606,004  37,617,798 24,366,879 25,033,285 33,748,975
 3    February  134,609,592  37,775,100 24,901,387 24,557,841 34,491,019
 4       March  136,469,886  38,154,534 25,594,413 24,570,563 35,210,948
 5       April  137,683,211  38,300,475 25,981,940 24,572,998 35,876,539
 6         May  139,198,479  38,444,357 26,736,308 24,645,598 36,311,451
 7        June  139,974,754  38,768,346 27,197,048 24,352,717 36,571,820
 8        July  140,022,516  38,914,005 27,411,737 24,176,583 36,523,951
 9      August  138,589,661  38,779,034 27,186,703 23,495,150 36,344,492
 10  September  137,605,819  38,700,176 26,952,302 23,001,127 36,325,193
 11    October  137,152,666  38,516,056 26,985,261 22,554,332 36,644,862
 12   November  137,341,523  38,449,212 27,255,099 22,488,766 36,686,660
 13   December  135,762,031  38,459,843 26,340,666 21,955,711 36,539,798

     Unnamed: 2
 0          NaN
 1        Warid
 2   12,839,067
 3   12,884,245
 4   12,939,428
 5   12,951,259
 6   13,060,765
 7   13,084,823
 8   12,996,240
 9   12,784,282
 10  12,627,021
 11  12,452,155
 12  12,461,786
 13  12,466,013  ,
    Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN          NaN                                       CM Pak
 2         NaN        Total                        Moblink Ufone Telenor
 3         NaN          NaN                                       (Zong)
 4     January  136,482,096  38,384,557 27,406,675 21,782,905 36,509,373
 5    February  136,630,891  38,378,938 27,693,987 21,718,480 36,724,230
 6       March  134,907,976  38,184,925 27,429,830 21,507,765 36,598,171
 7       April  131,865,579  38,149,067 27,217,698 18,257,842 37,313,551
 8         May  112,402,835  32,945,683 21,836,725 17,365,830 30,737,198
 9        June  114,658,434  33,424,268 22,102,968 17,809,315 31,491,263
 10       July  116,431,523  33,993,778 22,432,785 17,893,156 32,155,599
 11     August  118,943,600  34,637,527 23,100,847 18,296,277 32,747,666
 12  September  120,940,513  35,156,550 23,518,919 18,750,250 33,191,103
 13    October  122,595,936  35,431,799 23,800,643 19,214,908 33,677,266
 14   November  124,240,494  35,673,887 24,049,872 19,666,391 34,240,423
 15   December  125,899,638  36,211,426 24,133,283 19,931,821 34,928,330

     Unnamed: 2
 0          NaN
 1          NaN
 2        Warid
 3          NaN
 4   12,398,586
 5   12,115,256
 6   11,187,285
 7   10,927,421
 8    9,517,399
 9    9,830,620
 10   9,956,205
 11  10,161,283
 12  10,323,691
 13  10,471,320
 14  10,609,921
 15  10,694,778  ,
    Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN          NaN                                       CM Pak
 2         NaN        Total                        Moblink Ufone Telenor
 3         NaN          NaN                                       (Zong)
 4     January  128,041,567  36,973,674 24,613,601 20,262,334 35,392,846
 5    February  129,851,669  37,481,812 24,859,472 20,587,591 36,015,783
 6       March  131,412,658  38,117,902 24,669,917 20,820,301 36,784,001
 7       April  132,652,763  38,537,325 24,901,019 20,717,518 37,427,269
 8         May  133,477,666   38,992,717 25,135,832 20,329451 37,907,652
 9        June  133,241,465  39,118,521 25,251,329 19,833,670 38,020,771
 10       July  133,283,043  39,491,024 25,588,687 19,493,177 38,098,269
 11     August  133,908,192  40,131,931 25,855,188 19,130,803 38,078,200
 12  September  134,411,877  40,604,402 26,156,593 18,971,119 38,284,827
 13    October  134,911,395  40,852,495 26,314,186 18,799,217 38,472,952
 14   November  135,866,757  41,255,126 26,543,279 18,677,346 38,897,154
 15   December  136,489,014  41,253,641 26,929,982 18,581,452 39,453,009

     Unnamed: 2
 0          NaN
 1          NaN
 2        Warid
 3          NaN
 4   10,799,112
 5   10,907,011
 6   11,020,537
 7   11,069,632
 8   11,112,014
 9   11,017,174
 10  10,611,886
 11  10,712,070
 12  10,394,936
 13  10,472,545
 14  10,493,852
 15  10,270,930  ,
    Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN          NaN                              PMCL CM PakPTML
 2         NaN        Total                                      Telenor
 3         NaN          NaN                          (Jazz) (Zong) Ufone
 4    January*  137,095,352  51,534,764 27,496,157 18,478,378 39,586,053
 5    February  137,791,721  51,876,119 27,706,481 18,456,580 39,752,541
 6       March  139,108,964  52,467,361 28,008,535 18,470,351 40,162,717
 7       April  139,615,595  52,715,972 27,924,625 18,545,001 40,429,997
 8         May  140,516,259  52,887,845 28,214,245 18,509,224 40,904,945
 9        June  139,758,116  52,470,638 28,084,677 18,397,981 40,804,820
 10       July  139,781,754  52,325,198 28,423,969 18,361,997 40,670,590
 11     August  139,969,500  52,719,374 28,475,681 18,333,129 40,441,316
 12  September  140,759,071  52,617,231 28,916,205 18,489,816 40,735,819
 13    October  142,404,318  53,420,853 29,464,429 18,639,721 40,879,315
 14   November  143,338,331  53,494,998 29,852,520 18,816,214 41,174,599
 15   December  144,525,637  53,625,876 30,202,932 18,973,384 41,723,445

    Unnamed: 2
 0         NaN
 1         NaN
 2       Warid
 3         NaN
 4           -
 5           -
 6           -
 7           -
 8           -
 9           -
 10          -
 11          -
 12          -
 13          -
 14          -
 15          -  ,
    Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN          NaN                              PMCL CM PakPTML
 2         NaN        Total                                      Telenor
 3         NaN          NaN                          (Jazz) (Zong) Ufone
 4     January  145,995,702  54,035,798 30,534,042 19,308,980 42,116,882
 5    February  147,536,536  54,571,546 30,827,833 19,595,008 42,542,149
 6       March  149,101,917  55,117,456 31,139,251 19,890,781 42,954,429
 7       April  150,169,643  55,424,744 31,065,992 20,198,669 43,480,238
 8         May  150,322,129  55,507,996 30,983,977 20,295,497 43,534,659
 9        June  150,238,653  55,469,118 30,890,633 20,314,686 43,564,216
 10       July  150,553,783  55,597,047 31,021,206 20,499,075 43,436,455
 11     August  151,089,925  56,006,446 31,166,960 20,616,112 43,300,407
 12  September  151,658,901  56,094,685 31,475,508 20,835,683 43,253,025
 13    October  152,155,008  56,177,506 31,707,965 21,109,741 43,159,796
 14   November  152,742,096  56,094,720 31,971,324 21,320,940 43,355,112
 15   December  153,986,607  56,213,840 32,352,720 21,595,979 43,824,068

    Unnamed: 2
 0         NaN
 1         NaN
 2       Warid
 3         NaN
 4           -
 5           -
 6           -
 7           -
 8           -
 9           -
 10          -
 11          -
 12          -
 13          -
 14          -
 15          -  ,
    Unnamed: 0   Unnamed: 1 Distribution of  Cellular Mobile Subscribers  \
 0      Months          NaN                                          NaN
 1         NaN          NaN                              PMCL CM PakPTML
 2         NaN        Total                                          NaN
 3         NaN          NaN                          (Jazz) (Zong) Ufone
 4     January  155,302,574             56,774,511 32,804,470 21,716,846
 5    February  156,916,376             57,438,868 33,256,451 21,941,737
 6       March  159,024,257             58,337,881 33,822,495 22,307,491
 7       April  161,014,397             59,205,360 34,409,973 22,560,683
 8         May          NaN                                          NaN
 9        June          NaN                                          NaN
 10       July          NaN                                          NaN
 11     August          NaN                                          NaN
 12  September          NaN                                          NaN
 13    October          NaN                                          NaN
 14   November          NaN                                          NaN
 15   December          NaN                                          NaN

     Unnamed: 2
 0          NaN
 1          NaN
 2      Telenor
 3          NaN
 4   44,006,747
 5   44,279,320
 6   44,556,390
 7   44,838,381
 8          NaN
 9          NaN
 10         NaN
 11         NaN
 12         NaN
 13         NaN
 14         NaN
 15         NaN  ]

In [ ]:
# another example

In [18]:
pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"
dfs = tabula.read_pdf(pdf_path, stream=True, pages ="all")
len(dfs)

Got stderr: Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

4

In [23]:
df1 = tabula.read_pdf(pdf_path, pages=3, stream=True)[0]
df1.head()

Got stderr: Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [27]:
df2 = tabula.read_pdf(pdf_path, pages="1-2,3", stream=True)[0]
df2

Got stderr: Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2